// Variables

$font-stack: 'Open Sans', sans-serif;
$primary: #275D38;	/*Dark Green*/
$secondary: #78BE20;	/*Lime Green*/
$tri: #86C8BC;	/*light teal*/
$quad: #D45D00;	/*orange*/
$pent: #0095C8; /*blue*/
$white: white;	/*white*/
$black: black;	/*black*/
$webGreen: #00843D;	/*slightliy lighter primary green*/
$webGrey: #D0D0CE;	/*light grey*/
$webDark: #696158;	/*Dark grey*/