@media only screen and (min-width: 1100px) {

// /////////////
// Library Section
// /////////////

#librarySection{

  main{

    .ng-scope{
      width: 150px;
    }    

    .top{
	    .banner{
	      width: 35%;
	    }
	    .search{
	      width: 30%;
	      p{
	      	font-size: 2em;
	      }
	    }
	  }

  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////
#informationSection{
	background: white;
	.header{
	    display: flex;
	    justify-content: space-between;
	    &__banner{
	      width: 60%;
	      height: auto;
	      img{
	        width: 100%;
	        height: auto;
	      }
	    }
	    &__search{
	      display: block;
	      width: 35%;
	      background: #3E693F;
	      position: relative;
	      input{
	      	font-size: 2em;
	        border: none;
	        border-bottom: 2px solid white;
	        background: none;
	        padding-bottom: 5px;
	        position: absolute;
	        left: 25%;
	        bottom: 40%;
	      }
	    }
	  }
	.row{
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
		.row__img{
			margin-bottom: 20px;
			width: 30%;
			height: auto;
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}






// End of desktop
}

