@media only screen and (min-width: 1000px) {
// ///////
// Mixins
// ///////


// ///////
// All
// ///////
.navButtonContainers{

  i{
    span{
      display: initial !important;
    }
  }
}//End of Nav Button Conatiner

.activeNav{

    span{
      animation: none;
    }
}//End of Active Nav



// /////////////
// Library Section
// /////////////

#librarySection{

  main{

    .ng-scope{
      width: 150px;
    }

    .top{
	    .banner{
	      width: 35%;
	    }
	    .search{
	      width: 30%;
	      p{
	      	font-size: 2em;
	      }
	    }
	  }

	  //
    // Cylinder Styling
    //
    #libraryContainer{

        .cylinderSquare{
        width: 20%;


      }//End of cylinderSquare
    }//End of Library Container

  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////
#informationSection{

	.about{
		.row{
			background: none !important;
		}
	}
	.row{
		display: flex;
    &:nth-child(even){
      .header{
        text-align: right;
        &__num{
            right: 0;
        }
      }
    }
		.col{
			&__img{
				display: inherit !important;
        &--right{
          float:right;
        }
        &--left{
          float:left;
        }
			}

		}
	}
	.members{
		.member{
			width: 30%;
		}
	}
}

// //////////////
// Contact Page
// //////////////

#contactSection{

  #contactContainer{

    fieldset{
      width: 35%;
    }
  }//End of Contact container
}


// End of desktop
}
