@media only screen and (min-width: 1000px) {
// ///////
// Mixins
// ///////
@mixin desktopCylinderStyling(){
  .bannerContainer{
    .cylinderOfTheDay{
      i{
        margin: 0;
        position: absolute;
        top: 30px;
        left: 45%;
        font-size: 4.5em;
        display: inline-block;
      }
      .cylinderOfTheDayMetadata{
        position: absolute;
        right: 0;
        display: inline-block;
      }
    }
  }
}

// ///////
// All
// ///////
.cylinderOfTheDay{

  i{
    margin: 0;
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 4.5em;
    display: inline-block;
  }
  .cylinderOfTheDayMetadata{
    position: absolute;
    right: 0;
    display: inline-block;
  }
}//End of Cylinder of the day


// /////////////
// Library Section
// /////////////

#librarySection{

  main{

    .ng-scope{
      width: 150px;
    }

    .top{
	    .banner{
	      width: 35%;
	    }
	    .search{
	      width: 30%;
	      p{
	      	font-size: 2em;
	      }
	    }
	  }

	  //
    // Cylinder Styling
    //
    #libraryContainer{

        .cylinderSquare{
        width: 20%;


      }//End of cylinderSquare
    }//End of Library Container

  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////
#informationSection{
  main{
    @include desktopCylinderStyling();
  }
	.about{
		.row{
			background: none !important;
		}
	}
	.row{
		display: flex;
    &:nth-child(even){
      .header{
        text-align: right;
        &__num{
            right: 0;
        }
      }
    }
		.col{
			&__img{
				display: inherit !important;
        &--right{
          float:right;
        }
        &--left{
          float:left;
        }
			}
      
		}
	}
	.members{
		.member{
			width: 30%;
		}
	}
}

// //////////////
// Contact Page
// //////////////

#contactSection{
  main{
    @include desktopCylinderStyling();
  }
  #contactContainer{

    fieldset{
      width: 35%;
    }
  }//End of Contact container
}


// End of desktop
}
