@media only screen and (min-width: 1000px) {
  .cylinderOfTheDay i {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 4.5em;
    display: inline-block; }
  .cylinderOfTheDay .cylinderOfTheDayMetadata {
    position: absolute;
    right: 0;
    display: inline-block; }
  #librarySection main .ng-scope {
    width: 150px; }
  #librarySection main .top .banner {
    width: 35%; }
  #librarySection main .top .search {
    width: 30%; }
    #librarySection main .top .search p {
      font-size: 2em; }
  #librarySection main #libraryContainer .cylinderSquare {
    width: 20%; }
  #informationSection main .bannerContainer .cylinderOfTheDay i {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 4.5em;
    display: inline-block; }
  #informationSection main .bannerContainer .cylinderOfTheDay .cylinderOfTheDayMetadata {
    position: absolute;
    right: 0;
    display: inline-block; }
  #informationSection .about .row {
    background: none !important; }
  #informationSection .row {
    display: flex; }
    #informationSection .row .col:nth-child(even) .header {
      text-align: right; }
      #informationSection .row .col:nth-child(even) .header__num {
        right: 0; }
    #informationSection .row .col:nth-child(even) .content {
      position: relative; }
      #informationSection .row .col:nth-child(even) .content:before {
        content: "";
        position: absolute;
        border-bottom: 2px solid #efefef;
        width: 25%;
        right: 0; }
      #informationSection .row .col:nth-child(even) .content:after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #efefef;
        width: 25%;
        left: 0; }
    #informationSection .row .col__img {
      display: inherit !important; }
  #informationSection .members .member {
    width: 30%; }
  #contactSection main .bannerContainer .cylinderOfTheDay i {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 4.5em;
    display: inline-block; }
  #contactSection main .bannerContainer .cylinderOfTheDay .cylinderOfTheDayMetadata {
    position: absolute;
    right: 0;
    display: inline-block; }
  #contactSection #contactContainer fieldset {
    width: 35%; } }
