@media only screen and (max-width: 999em) {
::-webkit-scrollbar{
  display:none;
}

// //////////
// Variables
// //////////
$header-font: 'Arsenal', sans-serif;
// $header-font: 'Roboto', sans-serif;
$body-font: 'Nunito Sans', sans-serif;
$alternative-font: 'Rubik', sans-serif;
// $header-font: Arial;
$standard-font: 'Rubik', sans-serif;

  // UVU Color Palette Variables     https://www.uvu.edu/marketing/docs/branding_guides/uvu_web_style_guide_logos.pdf page 7
  $uvuPrime: #275D38; // UVU Green
  // Black
  // White
  $uvuGrey: #8e8c89; // Primary Grey

    // Complementary Colors
      //Green
      $pan348: #00843d; // Green
      $pan7738: #4ba23f; // Green
      $pan368: #78be20; // Light Green
      $pan374: #c5e86c; // Cool Green

      //Orange
      $pan7483: #275d38; // Dark Red
      $pan7625: #e1523d; // Peachish
      $pan717: #d45d00; // Orange
      $pan7549: #ffb500; // Yellow
      $pan120: #fbdb65; // Cool Yellow

      //Blue
      $pan5275: #595478; // Purple
      $pan639: #0095c8; // Sky Blue
      $pan3262: #00bfb3; // Tealish
      $pan564: #86c8bc; // Cool Blue
      $pan544: #bdd6e6; // Coolest Blue

      //Grey
      $pan405: #696158; // Grey
      $pan8: #8c8279; // Warm Grey, Similar to UVU Grey
      $pan6: #a7a8aa; // Cool Grey
      $pan2: #d0d0ce; // Coolest Grey


// /////////
// Active/Inactive Classes
// /////////
.active{
  z-index: -1;
}
.inactive{
  top: 100%;
  display: none;
  z-index: 1;
}
.lockBar{
  position: fixed !important;
  top: 50px !important;
  z-index: 20 !important;
  background-color: white;
  // background-color: red;
}
.activeCylinder{
  width: 49.5%;
  display: inline-block;
  box-sizing: border-box;
  background-color: grey;
  background-clip: content-box;
  overflow: hidden;
  position: relative;
  padding: 0 5px;
  img{
    width: 100%;
    opacity: .5;
  }
  .metaInfo{
    position: absolute;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    z-index: 10;
    padding: 10px 0;
    i{
      position: absolute;
      right: 20px;
      top: 7px;
      font-size: 1.6em;
    }
    .subMetaInfo{
      display: none;
    }
  }
}//End Active Cylinder
.activeMetaInfo{
  top: 0;
  bottom: auto !important;
  // i{
  //   display: block !important;
  // }
  h4{
    padding-top:5px;
    padding-left:10px;
  }
  b{
    font-weight:bold;
    color:$pan374;
  }
  .subMetaInfo{
    margin-top:5px;
  }
}
// ////////
// All
// ////////
#container{
  width: 100%;
}

.banner{
  height: 80px;
  background-position: right;
  background-repeat: no-repeat;
  padding: 10px 0 0 10px;
  font-family: $standard-font;
  color: white;
  img{
    width: 90px;
    position: relative;
    z-index: 1;
  }
  h3{
    margin-top: 5px;
    position: relative;
    z-index: 1;
  }
  svg{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
  }
  .bannerBar:nth-of-type(2){
    margin-left: 160px;
  }
  .bannerBar:nth-of-type(3){
    margin-left: 190px;
  }
  .bannerBar:nth-of-type(4){
    margin-left: 220px;
  }
  .bannerRotate{
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: 400px;
    z-index: -1;
  }
}

.tabletBanner{
  display: none;
}

.cylinderOfTheDay{
  width: 100%;
  height: 70px;
  background-color: #a7a8aa;
  color: white;
  font-family: $standard-font;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;

  img{
    margin: 5px 0 0 20px;
    width: 60px;
    height: 60px;
    background-color: red;
  }
  i{
    font-size: 3em;
    position: relative;
    text-align: center;
    margin: 10px 0 0 30px;
  }
  h2{
    margin: 25px 20px 0 0;
  }
  h3{
    display: none;
  }
}

// /////////
// Sections (Pages)
// /////////
section{
  width: 100%;
  position: absolute;
  top: 0;

  header{
    height: 50px;
    width: 100%;
    background: black;
    color: white;
    ul{
      padding-top: 10px;
      li{
        i{
          position: absolute;
          left: 50%;
          font-size: 1.2em !important;
        }//End of I
      }//End of LI
    }//End of UL
  }//End of Header

  main{
    position: absolute;
    overflow: scroll;
    width: 100%;
  }

}//End of Sections



// ///////
// Footer
// ////////
.footerButtonContainers{
  height: 50px;
  width: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
  bottom: 0;
  i{
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 10;
    font-size: 1.2em;
    &:nth-child(1){
      left: 10%;
    }
    &:nth-child(2){
      left: 35%;
    }
    &:nth-child(3){
      left: 65%;
    }
    &:nth-child(4){
      left: 85%;
    }

  }//End of icons
}//End of Footer Button Container

footer{
  height: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0px;
  color: white;
  z-index: -10;

}//End of Footer

// //////////////
// Home Page/Landing Page Section
// //////////////
#homeSection{
  background-color: white;

  #homeContainer{
    width: 100%;

    #indicators{
      color: white;
      i{
        position: absolute;
        z-index: 10;
        font-size: 1.3em;
        margin-top: 50%;
        &:nth-child(1){
          left: 10px;
          animation-name: leftIcon;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
        &:nth-child(2){
          right: 15px;
          animation-name: rightIcon;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
      @keyframes leftIcon{
        0% {left: 15px;}
        50% {left: 10px;}
        100% {left: 15px;}
      }
      @keyframes rightIcon{
        0% {right: 15px;}
        50% {right: 10px;}
        100% {right: 15px;}
      }
    }//End of indicators

    #homeSlider, #largeHomeSlider{
      width: 100%;
      position: absolute;
      font-family: $standard-font;
      color: white;
      margin-bottom: 0;

      // Main Content (Slider)
      div{
        width: 100%;
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: bottom;
        h2{
          font-size: 1.6em;
          font-family: Helvetica;
          font-weight: bold;
          margin: 20px 0 20px 0;
          padding: 0 10px;
        }
        p{
          padding: 0 10px;
          margin-bottom: 10px;
        }
        h2,p{
          position: relative;
          z-index: 1;
        }

        button{
          font-size: 2em;
          color: white;
          position: absolute;
          bottom: 30px;
          border: none;
          padding: 5px 10px;
          margin-left: 25%;
          z-index: 10;
        }

        .backColor{
          max-width: 100%;
          position: absolute;
          top: 0;
        }
      }//End of Divs in Slider

      // Sliders
      .libraryLink{
        background-image: url('../img/cover1.png');
        button{
          background-color: rgba(255,0,0,.6);
        }
        .backColor{
          background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,255,255,0) 100%);
        }
      }//End of Library Link
      .historyLink{
        background-image: url('../img/cover2.png');
        button{
          background-color: rgba(0,25,255,.6);
        }
        .backColor{
          background: -webkit-linear-gradient(top, rgba(0,25,255,1) 0%,rgba(255,255,255,0) 100%);
        }
      }
      .randomLink{
        background-image: url('../img/cover3.png');
        button{
          background-color: rgba(40,120,0,.6);
        }
        .backColor{
          background: -webkit-linear-gradient(top, rgba(40,120,0,1) 0%,rgba(255,255,255,0) 100%);
        }
      }

      // Slick Carousel Dots
      .slick-dots{
        position: absolute;
        bottom: 10px;

      }

    }//End of Home Slider

    #largeHomeSlider{
      display: none;
    }

  }//End of Home Container
}//End of Home Section

// /////////////
// Library Section
// /////////////

#librarySection{
  background-color: white;

  main{

    #searchBar{
      width: 100%;
      position: absolute;
      top: 90px;
      height: 60px;
      z-index: 10;
      background-color: white;
      text-align: center;
      input{
        background: none;
        border: none;
        border-bottom: 2px solid grey;
        width: 85%;
        margin: auto;
        color: grey;
        padding-top: 8px;
        margin-top: 5px;
        font-size: 1.5em;
        &:focus{
          outline: none;
        }
      }
      i{
        position: absolute;
        margin-right: 15px;
        color: grey;
        font-size: 1.5em;
        top: 10px;
        right: 15px;
      }
    }//End of Search Bar

    // Yes we do, it's for the fonts
    h2{
      font-family: $header-font;
      font-size: 1.2em;
      font-weight: bold;
    }
    h3{
      font-family: $alternative-font;
    }
    h4{
      font-family: $header-font;
      font-size: 1.2em;
    }

    .cylinderPlayOptions{
      display: none;
      position: absolute;
      top: 35%;
      left: 40%;
      color: white;
      font-size: 8em;
      z-index: 10;
    }

    //
    // Cylinder Styling
    //
    #libraryContainer{
      width: 100%;
      margin-top: 60px;

      .cylinderSquare{
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        background-clip: content-box;
        overflow: hidden;
        position: relative;

        &:nth-child(odd){
          padding: 2px 2.5px 0 5px;
        }
        &:nth-child(even){
          padding: 2px 5px 0 2.5px;
        }


        img{
          width: 100%;
          height: 100%;
          opacity: .5;
        }

        h2{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }


        .metaInfo{
          position: absolute;
          width: 100%;
          color: white;
          background-color: rgba(0,0,0,.6);
          bottom: 0;
          z-index: 10;
          padding: 10px 0;
          i{
            position: absolute;
            right: 20px;
            top: 7px;
            font-size: 1.6em;
          }
          .subMetaInfo{
            display: none;

          }
        }//End Meta Info


      }//End of cylinderSquare
    }//End of Library Container


    #largeActiveCylinder{
      display: none;
    }


  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////

#informationSection{
  font-family: $standard-font;
  font-size: 16px;
  box-sizing: border-box;
  background: white;

  .bannerContainer{
    .cylinderOfTheDay{
      display: none;
    }
  }

  #infoContainer{

  h1{
    font-size: 3em;
    text-align: center;
    margin: 40px auto;
  }
  .top__content{
    width: 75%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8em;
    margin-bottom: 100px;
  }
  .vis{
    // margin-bottom: 40px;
    display: none;
  }
  .about{
    .row{
      &:nth-child(1){
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/cover5.png') no-repeat;
      }
      &:nth-child(2){
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/libraryCover/cylinder16.jpg') no-repeat right;
      }
      &:nth-child(3){
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/libraryCover/cylinder19.jpg') no-repeat;
      }
      &:nth-child(4){
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/cover2.png') no-repeat right;
      }
      &:nth-child(5){
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/cover1.png') no-repeat;
      }
      &:last-child{
        margin-bottom: 40px;
      }

    }
  }
  .row{
    .col{
      padding: 40px;
      .header{
        margin-bottom: 3em;
        position: relative;
        &__title{
          font-size: 3em;
          position:relative;
          z-index: 1;
        }
        &__subtitle{
          font-size: 1.3em;
          position:relative;
          z-index: 1;
        }
        &__num{
          position: absolute;
          font-family: $header-font;
          left: 0;
          top: -55px;
          color: rgba(0, 149, 200, .25);
          font-size: 8em;
        }
      }
      .content{
        position: relative;
        &:before{
          content: "";
          position: absolute;
          border-bottom: 2px solid #efefef;
          width: 25%;
        }
        &:after{
          content: "";
          position: absolute;
          border-bottom: 2px solid #efefef;
          width: 25%;
          right: 0;
        }
        p{
          line-height: 1.8em;
          padding: 15px 0;
          color: #666;
        }
        .right{
          text-align: right;
        }
        button{
          margin-bottom: 15px;
          background: none;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:hover{
            border: 1px solid #ccc;
            box-shadow: 0 0 10px #ddd;
          }
          &:focus{
            outline: none;
            box-shadow: inset 0 0 10px #ddd;
          }
        }
      }
      &__img{
        display: none;
        img{
          width: 290px;
          height: 290px;
        }
      }
    }
  }
  .members{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .member{
      margin-bottom: 15px;
      img{
        display: block;
        width: auto;
        margin: 0 auto;
        margin-bottom: 15px;
      }
      .img--circle{
        border-radius: 50%;
      }
      p{
        width: 75%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

}//End of infoContainer
}//End of informationSection


// //////////////
// Contact Page
// //////////////

#contactSection{

  main{

    .bannerContainer{
      .cylinderOfTheDay{
        display: none;
      }
    }

    #contactHeader{
      max-width: 100%;
      padding: 20px 10px;

      h2{
        font-size: 3em;
        color:$pan348;
      }
      h3{
        font-size: 1.5em;
        color:$pan717;
      }
    }

    #contactContainer{
      width: 100%;
      font-family: $header-font;
      padding-bottom: 15px;
      background-color: white;
      form{
        width: 80%;
        margin: auto;
        padding: 0 20px;
        h3{
          width: 100%;
          margin: 10px 0;
          font-size: 1.3em;
          font-weight: bold;
          color:$pan368;
        }
        input{
          width: 100%;
          display: inline-block;
          margin: 10px 0;
          border: 1px solid black;
          font-size: 1.3em;
        }
        textarea{
          margin: 10px 0;
          width: 100%;
          height: 200px;
          border: 1px solid black;
          resize: none;
        }
        button{
          display: block;
          text-align: right;
          border: 1px solid;
          margin: 10px 0;
          font-size: 1.2em;
          color:white;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
          background: #006e2e; /* Old browsers */
          background: -moz-linear-gradient(top, #006e2e 0%, #006e2e 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #006e2e 0%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
        }
      }
    }//End of Contact container
  }//End of Contact Main
}//End of Contact Section

// ////////////
// search feature
// ////////////

#searchFunction{
  // display: none;
  position: absolute;
  bottom: 0;
  height: 0;
  // width: 60%;
  background: white;
  box-shadow: 0 0 10px black;
  width: 100%;
  overflow: hidden;
  #Container{
    width: 100%;
    padding: .5em 2em;
    box-sizing: border-box;
    input[type=text]{
      background: none;
      border: none;
      border-bottom: 2px solid #666;
      font-size: 1.5em;
      width: 50%;
      transition: width .35s ease-in-out;
      &:focus{
        outline: none;
        width: 80%;
      }
    }
  }
}



// /////////
// End Of Phone
// /////////
}// Don't type below this
