@media only screen and (max-width: 999em) {
  .active {
    z-index: -1; }

  .inactive {
    top: 100%;
    display: none;
    z-index: 1; }

  .lockBar {
    position: fixed !important;
    top: 50px !important;
    z-index: 20 !important;
    background-color: white; }

  .activeCylinder {
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    background-color: grey;
    background-clip: content-box;
    overflow: hidden;
    position: relative;
    padding: 0 5px; }
    .activeCylinder img {
      width: 100%;
      opacity: .5; }
    .activeCylinder .metaInfo {
      position: absolute;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      z-index: 10;
      padding: 10px 0; }
      .activeCylinder .metaInfo i {
        position: absolute;
        right: 20px;
        top: 7px;
        font-size: 1.6em; }
      .activeCylinder .metaInfo .subMetaInfo {
        display: none; }

  .activeMetaInfo {
    top: 0;
    bottom: auto !important; }
    .activeMetaInfo i {
      display: block !important; }
    .activeMetaInfo h4 {
      padding-top: 5px;
      padding-left: 10px; }
    .activeMetaInfo b {
      font-weight: bold;
      color: #c5e86c; }
    .activeMetaInfo .subMetaInfo {
      margin-top: 5px; }

  #container {
    width: 100%; }

  .banner {
    height: 80px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 0 0 10px;
    font-family: "Rubik", sans-serif;
    color: white; }
    .banner img {
      width: 90px;
      position: relative;
      z-index: 1; }
    .banner h3 {
      margin-top: 5px;
      position: relative;
      z-index: 1; }
    .banner svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .6; }
    .banner .bannerBar:nth-of-type(2) {
      margin-left: 160px; }
    .banner .bannerBar:nth-of-type(3) {
      margin-left: 190px; }
    .banner .bannerBar:nth-of-type(4) {
      margin-left: 220px; }
    .banner .bannerRotate {
      position: absolute;
      top: 0;
      right: 0;
      height: 90px;
      width: 400px;
      z-index: -1; }

  .largeBanner {
    display: none; }

  section {
    width: 100%;
    position: absolute;
    top: 0; }
    section header {
      height: 50px;
      width: 100%;
      background: black;
      color: white; }
      section header ul {
        padding-top: 10px; }
        section header ul li i {
          position: absolute;
          left: 50%;
          font-size: 1.2em !important; }
    section main {
      position: absolute;
      overflow: scroll;
      width: 100%; }

  .footerButtonContainers {
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    bottom: 0; }
    .footerButtonContainers i {
      position: absolute;
      cursor: pointer;
      color: white;
      z-index: 10;
      font-size: 1.2em; }
      .footerButtonContainers i:nth-child(1) {
        left: 10%; }
      .footerButtonContainers i:nth-child(2) {
        left: 35%; }
      .footerButtonContainers i:nth-child(3) {
        left: 65%; }
      .footerButtonContainers i:nth-child(4) {
        left: 85%; }

  footer {
    height: 50px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    color: white;
    z-index: -10; }

  #homeSection {
    background-color: white; }
    #homeSection #homeContainer {
      width: 100%; }
      #homeSection #homeContainer #cylinderOfTheDay {
        width: 100%;
        height: 70px;
        background-color: grey;
        color: white;
        font-family: "Rubik", sans-serif;
        display: flex;
        justify-content: space-between;
        margin: 5px 0; }
        #homeSection #homeContainer #cylinderOfTheDay img {
          margin: 5px 0 0 20px;
          width: 60px;
          height: 60px;
          background-color: red; }
        #homeSection #homeContainer #cylinderOfTheDay i {
          font-size: 3em;
          position: relative;
          text-align: center;
          margin: 10px 0 0 30px; }
        #homeSection #homeContainer #cylinderOfTheDay h2 {
          margin: 25px 20px 0 0; }
      #homeSection #homeContainer #indicators {
        color: white; }
        #homeSection #homeContainer #indicators i {
          position: absolute;
          z-index: 10;
          font-size: 1.3em;
          margin-top: 50%; }
          #homeSection #homeContainer #indicators i:nth-child(1) {
            left: 10px;
            animation-name: leftIcon;
            animation-duration: 2s;
            animation-iteration-count: infinite; }
          #homeSection #homeContainer #indicators i:nth-child(2) {
            right: 15px;
            animation-name: rightIcon;
            animation-duration: 2s;
            animation-iteration-count: infinite; }
  @keyframes leftIcon {
    0% {
      left: 15px; }
    50% {
      left: 10px; }
    100% {
      left: 15px; } }
  @keyframes rightIcon {
    0% {
      right: 15px; }
    50% {
      right: 10px; }
    100% {
      right: 15px; } }
      #homeSection #homeContainer #homeSlider {
        width: 100%;
        position: absolute;
        font-family: "Rubik", sans-serif;
        color: white;
        margin-bottom: 0; }
        #homeSection #homeContainer #homeSlider div {
          width: 100%;
          background-repeat: no-repeat;
          background-size: 110%;
          background-position: bottom; }
          #homeSection #homeContainer #homeSlider div h2 {
            font-size: 1.6em;
            font-family: Helvetica;
            font-weight: bold;
            margin: 20px 0 20px 0;
            padding: 0 10px; }
          #homeSection #homeContainer #homeSlider div p {
            padding: 0 10px;
            margin-bottom: 10px; }
          #homeSection #homeContainer #homeSlider div h2, #homeSection #homeContainer #homeSlider div p {
            position: relative;
            z-index: 1; }
          #homeSection #homeContainer #homeSlider div .backColor {
            max-width: 100%;
            position: absolute;
            top: 0; }
        #homeSection #homeContainer #homeSlider #libraryLink {
          background-image: url("../img/cover1.png"); }
          #homeSection #homeContainer #homeSlider #libraryLink .backColor {
            background: -webkit-linear-gradient(top, red 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider #historyLink {
          background-image: url("../img/cover2.png"); }
          #homeSection #homeContainer #homeSlider #historyLink .backColor {
            background: -webkit-linear-gradient(top, #0019ff 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider #randomLink {
          background-image: url("../img/cover3.png"); }
          #homeSection #homeContainer #homeSlider #randomLink .backColor {
            background: -webkit-linear-gradient(top, #287800 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider .slick-dots {
          position: absolute;
          bottom: 10px; }

  #librarySection {
    background-color: white; }
    #librarySection main #searchBar {
      width: 100%;
      position: absolute;
      top: 90px;
      height: 60px;
      z-index: 10;
      background-color: white;
      text-align: center; }
      #librarySection main #searchBar input {
        background: none;
        border: none;
        border-bottom: 2px solid grey;
        width: 85%;
        margin: auto;
        color: grey;
        padding-top: 8px;
        margin-top: 5px;
        font-size: 1.5em; }
        #librarySection main #searchBar input:focus {
          outline: none; }
      #librarySection main #searchBar i {
        position: absolute;
        margin-right: 15px;
        color: grey;
        font-size: 1.5em;
        top: 10px;
        right: 15px; }
    #librarySection main h2 {
      font-family: "Arsenal", sans-serif;
      font-size: 1.2em;
      font-weight: bold; }
    #librarySection main h3 {
      font-family: "Rubik", sans-serif; }
    #librarySection main h4 {
      font-family: "Arsenal", sans-serif;
      font-size: 1.2em; }
    #librarySection main .cylinderPlayOptions {
      display: none;
      position: absolute;
      top: 35%;
      left: 40%;
      color: white;
      font-size: 8em;
      z-index: 10; }
    #librarySection main #libraryContainer {
      width: 100%;
      margin-top: 60px; }
      #librarySection main #libraryContainer .cylinderSquare {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        background-clip: content-box;
        overflow: hidden;
        position: relative; }
        #librarySection main #libraryContainer .cylinderSquare:nth-child(odd) {
          padding: 2px 2.5px 0 5px; }
        #librarySection main #libraryContainer .cylinderSquare:nth-child(even) {
          padding: 2px 5px 0 2.5px; }
        #librarySection main #libraryContainer .cylinderSquare img {
          width: 100%;
          height: 100%;
          opacity: .5; }
        #librarySection main #libraryContainer .cylinderSquare h2 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #librarySection main #libraryContainer .cylinderSquare .metaInfo {
          position: absolute;
          width: 100%;
          color: white;
          background-color: rgba(0, 0, 0, 0.6);
          bottom: 0;
          z-index: 10;
          padding: 10px 0; }
          #librarySection main #libraryContainer .cylinderSquare .metaInfo i {
            position: absolute;
            right: 20px;
            top: 7px;
            font-size: 1.6em; }
          #librarySection main #libraryContainer .cylinderSquare .metaInfo .subMetaInfo {
            display: none; }
    #librarySection main #largeActiveCylinder {
      display: none; }

  #informationSection {
    box-sizing: border-box;
    background: white; }
    #informationSection #infoContainer img {
      width: 100%; }
    #informationSection h1 {
      font-size: 3em;
      text-align: center;
      margin: 40px auto; }
    #informationSection .top__content {
      width: 75%;
      text-align: center;
      margin: 0 auto;
      line-height: 1.8em;
      margin-bottom: 40px; }
    #informationSection .vis {
      display: none; }
    #informationSection .about .row:nth-child(1) {
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/cover5.png") no-repeat; }
    #informationSection .about .row:nth-child(2) {
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/libraryCover/cylinder16.jpg") no-repeat right; }
    #informationSection .about .row:nth-child(3) {
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/libraryCover/cylinder19.jpg") no-repeat; }
    #informationSection .about .row:nth-child(4) {
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/cover2.png") no-repeat right; }
    #informationSection .about .row:nth-child(5) {
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/cover1.png") no-repeat; }
    #informationSection .about .row:last-child {
      margin-bottom: 40px; }
    #informationSection .row .col {
      padding: 40px; }
      #informationSection .row .col .header {
        margin-bottom: 20px;
        position: relative; }
        #informationSection .row .col .header__title {
          font-size: 3em;
          position: relative;
          z-index: 1; }
        #informationSection .row .col .header__subtitle {
          font-size: 1.3em;
          position: relative;
          z-index: 1; }
        #informationSection .row .col .header__num {
          position: absolute;
          left: 0;
          top: -35px;
          color: rgba(0, 149, 200, 0.25);
          font-size: 8em; }
      #informationSection .row .col .content {
        position: relative; }
        #informationSection .row .col .content:before {
          content: "";
          position: absolute;
          border-bottom: 2px solid #efefef;
          width: 25%; }
        #informationSection .row .col .content:after {
          content: "";
          position: absolute;
          border-bottom: 2px solid #efefef;
          width: 25%;
          right: 0; }
        #informationSection .row .col .content p {
          line-height: 1.8em;
          padding: 15px 0;
          color: #888; }
        #informationSection .row .col .content .right {
          text-align: right; }
        #informationSection .row .col .content button {
          margin-bottom: 15px;
          background: none;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 5px; }
          #informationSection .row .col .content button:hover {
            border: 1px solid #fff;
            box-shadow: 0 0 10px #ddd; }
          #informationSection .row .col .content button:focus {
            outline: none;
            box-shadow: inset 0 0 10px #ddd; }
      #informationSection .row .col__img {
        display: none; }
    #informationSection .members {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 20px; }
      #informationSection .members .member {
        margin-bottom: 15px; }
        #informationSection .members .member img {
          display: block;
          width: auto;
          margin: 0 auto;
          margin-bottom: 15px; }
        #informationSection .members .member .img--circle {
          border-radius: 50%; }
        #informationSection .members .member p {
          width: 75%;
          text-align: center;
          margin: 0 auto; }

  #contactSection main #contactHeader {
    max-width: 100%;
    padding: 20px 10px; }
    #contactSection main #contactHeader h2 {
      font-size: 3em;
      color: #00843d; }
    #contactSection main #contactHeader h3 {
      font-size: 1.5em;
      color: #4ba23f; }
  #contactSection main #contactContainer {
    width: 100%;
    font-family: "Arsenal", sans-serif;
    padding-bottom: 15px;
    background-color: white; }
    #contactSection main #contactContainer form {
      width: 80%;
      margin: auto;
      padding: 0 20px; }
      #contactSection main #contactContainer form h3 {
        width: 100%;
        margin: 10px 0;
        font-size: 1.3em;
        font-weight: bold;
        color: #00843d; }
      #contactSection main #contactContainer form input {
        width: 100%;
        display: inline-block;
        margin: 10px 0;
        border: 1px solid black;
        font-size: 1.3em; }
      #contactSection main #contactContainer form textarea {
        margin: 10px 0;
        width: 100%;
        height: 200px;
        border: 1px solid black;
        resize: none; }
      #contactSection main #contactContainer form button {
        display: block;
        text-align: right;
        border: 1px solid;
        margin: 10px 0;
        font-size: 1.2em;
        color: white;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
        background: #006e2e;
        /* Old browsers */
        background: -moz-linear-gradient(top, #006e2e 0%, #006e2e 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #006e2e 0%, #006e2e 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #006e2e 0%, #006e2e 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 );
        /* IE6-9 */ } }

/*# sourceMappingURL=phone.css.map */
