@media only screen and (max-width: 999em) {
  .active {
    z-index: -1; }

  .inactive {
    top: 100%;
    display: none;
    z-index: 1; }

  #container {
    width: 100%; }

  .banner {
    height: 80px;
    background-image: url("../img/bannerImage.png");
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 0 0 10px;
    font-family: Helvetica;
    color: white; }
    .banner img {
      width: 90px;
      position: relative;
      z-index: 1; }
    .banner h3 {
      margin-top: 5px;
      position: relative;
      z-index: 1; }
    .banner svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6; }
    .banner .bannerBar:nth-of-type(2) {
      margin-left: 160px; }
    .banner .bannerBar:nth-of-type(3) {
      margin-left: 190px; }
    .banner .bannerBar:nth-of-type(4) {
      margin-left: 220px; }

  section {
    width: 100%;
    position: absolute;
    top: 0; }
    section header {
      height: 50px;
      width: 100%;
      background: black;
      color: white; }
      section header ul {
        padding-top: 10px; }
        section header ul li i {
          position: absolute;
          left: 50%;
          font-size: 1.2em !important; }
    section main {
      position: absolute;
      overflow: scroll;
      width: 100%; }

  .footerButtonContainers {
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    bottom: 0; }
    .footerButtonContainers i {
      position: absolute;
      color: white;
      z-index: 10;
      font-size: 1.2em; }
      .footerButtonContainers i:nth-child(1) {
        left: 10%; }
      .footerButtonContainers i:nth-child(2) {
        left: 35%; }
      .footerButtonContainers i:nth-child(3) {
        left: 65%; }
      .footerButtonContainers i:nth-child(4) {
        left: 85%; }

  footer {
    height: 50px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    color: white;
    z-index: -10; }

  #homeSection {
    background-color: white; }
    #homeSection #homeContainer {
      width: 100%; }
      #homeSection #homeContainer #cylinderOfTheDay {
        width: 100%;
        height: 70px;
        background-color: grey;
        color: white;
        font-family: Helvetica;
        display: flex;
        justify-content: space-between;
        margin: 5px 0; }
        #homeSection #homeContainer #cylinderOfTheDay img {
          margin: 5px 0 0 20px;
          width: 60px;
          height: 60px;
          background-color: red; }
        #homeSection #homeContainer #cylinderOfTheDay i {
          font-size: 3em;
          position: relative;
          text-align: center;
          margin: 10px 0 0 30px; }
        #homeSection #homeContainer #cylinderOfTheDay h2 {
          margin: 25px 20px 0 0; }
      #homeSection #homeContainer #indicators {
        position: absolute;
        top: 50%;
        color: white; }
        #homeSection #homeContainer #indicators i {
          position: absolute;
          z-index: 10;
          font-size: 1.3em; }
          #homeSection #homeContainer #indicators i:nth-child(1) {
            left: 10px; }
      #homeSection #homeContainer #homeSlider {
        width: 100%;
        position: absolute;
        font-family: Helvetica;
        color: white;
        margin-bottom: 0; }
        #homeSection #homeContainer #homeSlider div {
          width: 100%;
          background-repeat: no-repeat;
          background-size: 110%;
          background-position: bottom; }
          #homeSection #homeContainer #homeSlider div h2 {
            font-size: 1.6em;
            font-family: Helvetica;
            font-weight: bold;
            margin: 20px 0 20px 0;
            padding: 0 10px; }
          #homeSection #homeContainer #homeSlider div p {
            padding: 0 10px;
            margin-bottom: 10px; }
          #homeSection #homeContainer #homeSlider div h2, #homeSection #homeContainer #homeSlider div p {
            position: relative;
            z-index: 1; }
          #homeSection #homeContainer #homeSlider div .backColor {
            max-width: 100%;
            position: absolute;
            top: 0; }
        #homeSection #homeContainer #homeSlider #libraryLink {
          background-image: url("../img/cover1.png"); }
          #homeSection #homeContainer #homeSlider #libraryLink .backColor {
            background: -webkit-linear-gradient(top, red 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider #historyLink {
          background-image: url("../img/cover2.png"); }
          #homeSection #homeContainer #homeSlider #historyLink .backColor {
            background: -webkit-linear-gradient(top, #0019ff 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider #randomLink {
          background-image: url("../img/cover3.png"); }
          #homeSection #homeContainer #homeSlider #randomLink .backColor {
            background: -webkit-linear-gradient(top, #287800 0%, rgba(255, 255, 255, 0) 100%); }
        #homeSection #homeContainer #homeSlider .slick-dots {
          position: absolute;
          bottom: 10px; }

  #librarySection {
    background-color: white; }
    #librarySection main h2 {
      font-family: Arial;
      font-size: 1.2em;
      font-weight: bold; }
    #librarySection main h3 {
      font-family: "Rubik", sans-serif; }
    #librarySection main .libGrid {
      text-align: center; }
    #librarySection main .overPlay {
      width: 300px;
      padding: 10px;
      float: left; }
    #librarySection main .ng-scope {
      display: inline-block;
      width: 40%;
      height: 80px;
      margin: 3px;
      padding: 2px; }
    #librarySection main .top .search {
      display: inline-block;
      width: 100%;
      position: relative;
      background: #275D38;
      text-align: center;
      margin-top: 5px; }
      #librarySection main .top .search p {
        font-size: 1.3em;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        background: none;
        padding-bottom: 5px;
        padding-top: 25%; }
      #librarySection main .top .search span input {
        background: none;
        border: none;
        border-bottom: 2px solid white;
        width: 35%;
        color: white;
        padding-top: 8px;
        margin-top: 8px;
        margin-bottom: 16px; }
      #librarySection main .top .search span select {
        margin-bottom: 8px; }
    #librarySection main .top .menu-item {
      position: relative;
      display: inline-block; }
    #librarySection main .top .sub-menu {
      display: none;
      position: inherit;
      background-color: #c5e86c;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1; }
      #librarySection main .top .sub-menu .menu-item {
        padding-bottom: 10px; }
    #librarySection main .top .menu-item:hover .sub-menu {
      display: block;
      max-width: 20px; }
    #librarySection main .overlay {
      background-color: #8e8c89;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1; }
    #librarySection main .square {
      position: relative; }
    #librarySection main .shadeBack {
      position: absolute;
      margin-top: -47px;
      background-color: black;
      opacity: 0.7;
      width: 40%;
      z-index: 10; }
      #librarySection main .shadeBack h2, #librarySection main .shadeBack h3 {
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white; }

  #informationSection {
    background: white; }
    #informationSection .header__banner {
      width: 100%;
      height: auto; }
      #informationSection .header__banner img {
        width: 100%;
        height: auto; }
    #informationSection .header__search {
      display: none; }
    #informationSection h1 {
      font-size: 35px;
      padding: 0;
      padding-left: 15px;
      margin-top: 30px;
      margin-bottom: 50px; }
    #informationSection iframe {
      width: 100%;
      height: 350px !important;
      display: block; }
    #informationSection p {
      line-height: 1.3em;
      margin: 50px 0;
      padding-left: 15px;
      padding-right: 15px; }
    #informationSection .row .row__img {
      width: 100%;
      height: auto;
      margin-bottom: 20px; }
      #informationSection .row .row__img img {
        display: block;
        width: 100%;
        height: auto; }
    #informationSection .row:last-child .row__img:last-child {
      margin-bottom: 0; } }

/*# sourceMappingURL=phone.css.map */
