@media only screen and (min-width: 651px) and (max-width: 999em) {
  .active {
    z-index: -1; }

  .inactive {
    top: 0;
    display: none;
    z-index: 1; }

  #allMetadata {
    padding-top: 50px; }
    #allMetadata img {
      width: 400px; }

  .banner {
    display: none; }

  .tabletBanner {
    display: block;
    width: 60%;
    height: 150px;
    font-family: "Rubik", sans-serif;
    color: white;
    overflow: hidden; }
    .tabletBanner .uvuLogo {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 10;
      width: 100px; }
    .tabletBanner h1 {
      position: absolute;
      top: 50px;
      left: 10px;
      font-size: 1.5em;
      z-index: 10; }
    .tabletBanner svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .6; }
    .tabletBanner .largeBannerRotate {
      float: right; }

  #bannerContainer {
    height: 90px;
    overflow: hidden;
    background-color: white; }

  #cylinderPlayer {
    position: absolute;
    width: 40%;
    height: 90px;
    top: 0;
    right: 0; }
    #cylinderPlayer img {
      width: 90px;
      height: 90px; }
    #cylinderPlayer h2 {
      font-size: 1.8em;
      left: 95px; }
    #cylinderPlayer i {
      margin-top: 12px;
      font-size: 1.5em; }
    #cylinderPlayer .metaInfoButton {
      bottom: 5px; }
    #cylinderPlayer .jp-progress {
      padding-top: 75px;
      margin-left: 95px; }

  section {
    width: 100%; }
    section main {
      margin: auto;
      overflow: scroll; }

  .navButtonContainers {
    position: absolute;
    top: 90px;
    z-index: 11; }
    .navButtonContainers i span {
      font-family: "Rubik", sans-serif;
      margin-left: 10px;
      display: none; }

  .activeNav {
    color: green !important; }
    .activeNav span {
      display: inline-block !important;
      animation: navSwipeIn;
      animation-duration: .5s;
      animation-iteration-count: 1; }

  @keyframes navSwipeIn {
    0% {
      margin-left: -15px; }
    100% {
      margin-left: 10px; } }
  #homeSection #homeContainer {
    margin-bottom: 0;
    margin-top: 140px; }
    #homeSection #homeContainer .alignleft {
      width: 150px; }
    #homeSection #homeContainer .homeBoxes {
      margin-left: 5%;
      margin-right: 5%; }

  #librarySection main #libraryContainer {
    padding-left: 5px;
    margin-top: 140px;
    padding-bottom: 0;
    box-sizing: border-box; }
    #librarySection main #libraryContainer .cylinderSquare {
      width: 33.1%; }
      #librarySection main #libraryContainer .cylinderSquare:nth-child(odd) {
        padding: 0;
        padding-right: 5px; }
      #librarySection main #libraryContainer .cylinderSquare:nth-child(even) {
        padding: 0;
        padding-right: 5px; }
  #librarySection main #largeActiveCylinder {
    background-color: grey;
    margin-bottom: 5px;
    max-width: 100%;
    height: 200px;
    color: white;
    display: none; }
    #librarySection main #largeActiveCylinder .line {
      display: inline-flex; }
    #librarySection main #largeActiveCylinder i {
      font-size: 3em;
      padding: none;
      margin: none;
      position: absolute;
      margin-top: 70px;
      margin-left: -115px; }
    #librarySection main #largeActiveCylinder h4 {
      font-size: 1em;
      padding-left: 20px;
      display: inline-block;
      color: #d45d00; }
    #librarySection main #largeActiveCylinder h5 {
      font-family: "Arsenal", sans-serif;
      font-size: .8em;
      padding-top: 2px;
      padding-left: 10px;
      display: inline-block; }
    #librarySection main #largeActiveCylinder h6 {
      font-family: "Arsenal", sans-serif;
      font-size: 1.5em;
      padding-top: 2px;
      padding-left: 10px;
      display: inline-block;
      color: #00bfb3; }
    #librarySection main #largeActiveCylinder .largePlayButtons {
      position: absolute;
      left: 75%; }
      #librarySection main #largeActiveCylinder .largePlayButtons .loadCylinderButton {
        margin-top: 35px; }
        #librarySection main #largeActiveCylinder .largePlayButtons .loadCylinderButton span {
          margin-left: 15px;
          font-family: "Rubik", sans-serif;
          font-size: .7em;
          white-space: nowrap; }
      #librarySection main #largeActiveCylinder .largePlayButtons .playControls i {
        margin: 30px 0 0 -30px;
        font-size: 5em; }
      #librarySection main #largeActiveCylinder .largePlayButtons .playControls h2 {
        position: absolute;
        white-space: nowrap;
        margin-top: 170px;
        margin-left: -140px; }
    #librarySection main #largeActiveCylinder .metaInfoButton {
      font-size: 1.5em;
      position: absolute;
      right: 15px;
      margin-top: 170px; }

  #informationSection main #infoContainer {
    margin-top: 160px;
    padding-bottom: 0px; }
    #informationSection main #infoContainer .hidden_img {
      width: 20%;
      height: 20%;
      float: left;
      margin-right: 2em; }
    #informationSection main #infoContainer .hidden_img-right {
      width: 20%;
      height: 20%;
      float: right;
      margin-left: 2em; }

  #contactSection main #contactContainer {
    margin-top: 145px;
    padding-bottom: 0px;
    width: 100%; }
    #contactSection main #contactContainer #contactHeader {
      width: 80%;
      margin: auto; }
    #contactSection main #contactContainer form {
      width: 80%;
      margin: auto; }
      #contactSection main #contactContainer form fieldset {
        width: 100%; }

  #searchFunction {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 90px;
    width: 100%;
    height: 0; }
    #searchFunction #Container {
      padding: 4em; } }
@media only screen and (min-width: 651px) and (max-width: 850px) {
  .tabletBanner .largeBannerBar {
    margin-left: -120px; }
  .tabletBanner .bannerBar:nth-of-type(2) {
    margin-left: 120px; }
  .tabletBanner .bannerBar:nth-of-type(3) {
    margin-left: 160px; }
  .tabletBanner .bannerBar:nth-of-type(4) {
    margin-left: 200px; } }
@media only screen and (min-width: 851px) {
  .tabletBanner .bannerBar:nth-of-type(2) {
    margin-left: 240px; }
  .tabletBanner .bannerBar:nth-of-type(3) {
    margin-left: 280px; }
  .tabletBanner .bannerBar:nth-of-type(4) {
    margin-left: 320px; } }

/*# sourceMappingURL=tablet.css.map */
