@media only screen and (min-width: 651px) and (max-width: 999em){
// //////////
// Variables
// //////////
$header-font: 'Arsenal', sans-serif;
// $header-font: 'Roboto', sans-serif;
$body-font: 'Nunito Sans', sans-serif;
$alternative-font: 'Rubik', sans-serif;
// $header-font: Arial;
$standard-font: 'Rubik', sans-serif;

  // UVU Color Palette Variables     https://www.uvu.edu/marketing/docs/branding_guides/uvu_web_style_guide_logos.pdf page 7
  $uvuPrime: #275D38; // UVU Green
  // Black
  // White
  $uvuGrey: #8e8c89; // Primary Grey

    // Complementary Colors
      //Green
      $pan348: #00843d; // Green
      $pan7738: #4ba23f; // Green
      $pan368: #78be20; // Light Green
      $pan374: #c5e86c; // Cool Green

      //Orange
      $pan7483: #275d38; // Dark Red
      $pan7625: #e1523d; // Peachish
      $pan717: #d45d00; // Orange
      $pan7549: #ffb500; // Yellow
      $pan120: #fbdb65; // Cool Yellow

      //Blue
      $pan5275: #595478; // Purple
      $pan639: #0095c8; // Sky Blue
      $pan3262: #00bfb3; // Tealish
      $pan564: #86c8bc; // Cool Blue
      $pan544: #bdd6e6; // Coolest Blue

      //Grey
      $pan405: #696158; // Grey
      $pan8: #8c8279; // Warm Grey, Similar to UVU Grey
      $pan6: #a7a8aa; // Cool Grey
      $pan2: #d0d0ce; // Coolest Grey

// //////
//Mixins
// //////


// /////////
// Active/Inactive Classes
// /////////
.active{
  z-index: -1;
}
.inactive{
  top: 0;
  display: none;
  z-index: 1;
}
// //////
// All
// //////
#allMetadata{
  padding-top: 50px;
  img{
    width: 400px;
  }
}
.banner{
  display: none;
}
.tabletBanner{
  display: block;
  width: 60%;
  height: 150px;
  font-family: $standard-font;
  color: white;
  overflow: hidden;
  .uvuLogo{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 100px;
  }
  h1{
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 1.5em;
    z-index: 10;
  }
  svg{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
  }
  .largeBannerRotate{
    float: right;
  }
}
#bannerContainer{
  height: 90px;
  overflow: hidden;
  background-color: white;
  // border-bottom: 5px solid white;

}

#cylinderPlayer{
  position: absolute;
  width: 40%;
  height: 90px;
  top: 0;
  right: 0;
  img{
    width: 90px;
    height: 90px;
  }
  h1{
    font-size: 1.8em;
    left: 95px;
  }
  i{
    margin-top: 12px;
    font-size: 1.5em;
  }
  .metaInfoButton{
    bottom: 5px;
  }
  .jp-progress{
    padding-top: 75px;
    margin-left: 95px;
  }
}


// ///////////
// Section
// ///////////

section{
  width: 100%;
  main{
    margin: auto;
    overflow: scroll;
  }

}//End Of Section

// //////////
// Navigation
// //////////

.navButtonContainers{
  position: absolute;
  top: 90px;
  z-index: 11;
  // box-shadow: 0px 1px 1px #000;
  i{
    span{
      font-family: $standard-font;
      margin-left: 10px;
      display: none;
    }
  }
}
.activeNav{
  color: green !important;

    span{
      display: inline-block !important;
      animation: navSwipeIn;
      animation-duration: .5s;
      animation-iteration-count: 1;
    }

}
@keyframes navSwipeIn {
  0% {margin-left: -15px;}
  100% {margin-left: 10px;}
}

// /////////////
// Home Section
// /////////////
#homeSection{

  #homeContainer{
    margin-bottom: 0;
    margin-top: 140px;

    .alignleft {
      width:150px;
    }

    .homeBoxes{
      float: left;
      span{
        float: left;
        max-width: 79%;
        display: inline;
        margin-left: 7%;
      }
      margin-left:5%;
      margin-right:5%;
      i{
        font-size: 8em;
        max-width: 10%;
        float: left;
        display: inline;
      }
      .btn{
        float: left;
        margin-left: 10px;
      }

      .left{
        width: 48%;
        float: left;
        margin-bottom: 10px;
      }
      .right{
        width: 48%;
        float: right;
        margin-bottom: 10px;
      }
      .full{
        clear: both;
        width: 100%;
        margin-bottom: 10px;
      }
    }//End of homeBoxes

  }//End of Home Container
}//End Of Home Section

// /////////////
// Library Section
// /////////////

#librarySection{

  main{

    //
    // Cylinder Styling
    //
    #libraryContainer{
      padding-left: 5px;
      margin-top: 140px;
      padding-bottom: 0;
      box-sizing: border-box;

      .cylinderSquare{
        width: 33.1%;

        &:nth-child(odd){
          padding: 0;
          padding-right: 5px;
        }
        &:nth-child(even){
          padding: 0;
          padding-right: 5px;
        }

      }//End of cylinderSquare


    }//End of Library Container

    #largeActiveCylinder{
      background-color: grey;
      margin-bottom: 5px;
      max-width: 100%;
      height: 200px;
      color: white;
      display: none;
      .line{
        display: inline-flex;
      }
      i{
        font-size: 3em;
        padding:none;
        margin:none;
        position: absolute;
        margin-top: 70px;
        margin-left: -115px;
      }
      h2{
      font-size: 1em;
      padding-left:20px;
      display: inline-block;
      color:$pan717;
      }
      em{
      font-family: $header-font;
      font-size: .8em;
      padding-top:2px;
      padding-left:10px;
      display: inline-grid;
      max-width: 30%;
      }
      h1{
      font-family: $header-font;
      font-size: 1.5em;
      padding-top:2px;
      padding-left:10px;
      display: inline-block;
      color:$pan3262;
      }

      .largePlayButtons{
        position: absolute;
        left: 75%;
        .loadCylinderButton{
          margin-top: 35px;
          span{
            margin-left: 15px;
            font-family: $standard-font;
            font-size: .7em;
            white-space: nowrap;
          }
        }
        .playControls{
          i{
            margin: 30px 0 0 -30px;
            font-size: 5em;
          }
          h2{
            position: absolute;
            white-space: nowrap;
            margin-top: 170px;
            margin-left: -140px;
            color: white;
          }
        }
      }//End of Large Play Buttons

      .metaInfoButton{
        font-size: 1.5em;
        position: absolute;
        right: 15px;
        margin-top: 170px;
      }
    }//End of largeActiveCylinder

  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////

#informationSection{
  main{

    #infoContainer{
      margin-top: 160px;
      padding-bottom: 0px;
      .hidden_img{
        width: 20%;
        height: 20%;
        float:left;
        margin-right: 2em;
      }
      .hidden_img-right{
        width: 20%;
        height: 20%;
        float:right;
        margin-left: 2em;
      }
    }
  }
}



// //////////////
// Contact Page
// //////////////

#contactSection{
  main{

    #contactContainer{
    margin-top: 145px;
    padding-bottom: 0px;
    width: 100%;

    #contactHeader{
      width: 80%;
      margin: auto;
    }

    form{
      width: 80%;
      margin: auto;
      fieldset{
        width: 100%;
      }
    }

    }//End of Contact container
  }

}//End of Contact Section

// ////////////
// search feature
// ////////////

#searchFunction{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 90px;
  width: 100%;
  height: 0;
  z-index: 1;
  #Container{
    padding: 4em;
  }
}


// ////////////
// End Of Tablet
// ////////////
}// Don't type below this


 @media only screen and (min-width: 651px) and (max-width: 850px){
  .tabletBanner{
    .largeBannerBar{
      margin-left: -120px;
    }
    .bannerBar:nth-of-type(2){
      margin-left: 120px;
    }
    .bannerBar:nth-of-type(3){
      margin-left: 160px;
    }
    .bannerBar:nth-of-type(4){
      margin-left: 200px;
    }
  }
}
@media only screen and (min-width: 851px){
  .tabletBanner{
    .bannerBar:nth-of-type(2){
      margin-left: 240px;
    }
    .bannerBar:nth-of-type(3){
      margin-left: 280px;
    }
    .bannerBar:nth-of-type(4){
      margin-left: 320px;
    }
  }
}
