@media only screen and (min-width: 651px) and (max-width: 999em){
// /////////
// Active/Inactive Classes
// /////////
.active{
  z-index: -1;
}
.inactive{
  top: 0;
  display: none;
  z-index: 1;
}

// ///////////
// Section
// ///////////
section{
  width: 100%;
 header{
   position: absolute;
   top: 0;
   width: 50px;
   height: 100%;
   ul{
     padding-top: 10px;
     li{
       i{
         left: 35%;
         top: 50%;
       }//End of I
     }//End of LI
   }//End of UL
 }//End of Header

 main{
   margin-left: 50px;
 }
}//End Of Section

// //////////
// Footer
// //////////

.footerButtonContainers{
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  right: 0;
  z-index: 11;
  i{
    position: absolute;

    &:nth-child(1){
      top: 10%;
      left: 35%;
    }
    &:nth-child(2){
      top: 35%;
      left: 35%;
    }
    &:nth-child(3){
      top: 65%;
      left: 35%;
    }
    &:nth-child(4){
      top: 85%;
      left: 35%;
    }

  }
}

footer{
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  right: 0;
  z-index: 10;
}


// /////////////
// Library Section
// /////////////

#librarySection{

  main{

    .ng-scope{
      width: 150px;
    }

  .top{
    display: flex;
    justify-content: space-between;
    .banner{
      width: 47%;
      height: auto;
      img{
        width: 100%;
        height: auto;

      }
    }
    .search{
      display: inline-block;
      width: 35%;
      span{
        position: relative;
        top: 10%;
        input{
          width: 60%;
          margin-bottom: 0px;
        }
      }

      #advancedSearch{
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #c5e86c;
        z-index: 10;
        select{
          width: 50%;
          display: inline-block;
        }
      }

    } // search
  } // top


  // Grid
  .libGrid{
    .shadeBack{
      width: 150px;
    }
  }

  }//End of Main
}//End of Library Section

// /////////////
// Information Section
// /////////////

#informationSection{
  background: white;
  .header{
    display: flex;
    justify-content: space-between;
    &__banner{
      width: 60%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    &__search{
      display: block;
      width: 35%;
      background: #3E693F;
      position: relative;
      input{
        font-size: 1.3em;
        border: none;
        border-bottom: 2px solid white;
        background: none;
        padding-bottom: 5px;
        position: absolute;
        left: 25%;
        bottom: 40%;
        width: 55%;
      }
    }
  }
  h1{
    font-size: 35px;
    padding: 0 40px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  iframe{
  width: 80%;
  height: 350px !important;
  display: block;
  margin: 0 auto;
  }
  p{
    line-height: 1.3em;
    margin: 50px 0;
    padding: 0 40px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    .row__img{
      margin-bottom: 20px;
      width: 30%;
      height: auto;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
  .row:last-child{
    .row__img{
      margin-bottom: 0px;
    }
  }

}


// ////////////
// End Of Tablet
// ////////////
}// Don't type below this
